/*remove underline from a link*/
a{
    text-decoration: none;
}
/*underline on hover*/
a:hover{
    text-decoration: underline;
}

/* unvisited link */
a:link {
    color: red; 
}

/* visited link */
a:visited {
    color: #00FF00;
  }

body{
    background-color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
h1,h2,h3{
    color: red;
    background-color: white;
    width: 40%;
    
}

p::first-letter{
    font-size: 1.5em;
    font-weight: bold;
}
